[Unit]
#https://unix.stackexchange.com/questions/506347/why-do-most-systemd-examples-contain-wantedby-multi-user-target
Description=AutoHotspot Service
Requires=network.target
After=multi-user.target
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/autohotspot.sh
[Install]
WantedBy=multi-user.target