[Unit]
Description=CaptivePortal Flashpage Service
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/start_captiveportal.sh
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-captiveportal
[Install]
WantedBy=multi-user.target